

</body>

<footer>
  <p style="text-align: center ; color: rgb(20, 16, 16); font-size: medium;" > Copyright &copy; <script>document.write(new Date().getFullYear())</script> Deepak Maurya</p>
</footer>

</html>
